@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One');

h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  display: inline-block;
  background-color: #FCBA04;
  padding-right: 25px;
  margin-bottom: -5px;
}

h2 {
  display: inline-block;
  background-color: #3BB273;
  margin-left: 50px;
  padding-right: 25px;
  margin-bottom: 5px
}

h3 {
  display:flex;
  text-align: right;
  font-size: 18px;
  margin-left: 200px;
  background-color: #3A86FF;
  justify-content: flex-end;
}

p{
    font-family: 'Pathway Gothic One', sans-serif;
}

#instructions{
  margin-bottom: 10px;
  background-color: #3A86FF;
  width: 60%;
  margin-left:90px;
}

#image-container {
  display: flex;
  justify-content: center;
}

#image-container img {
  height: 250px;
  margin: 0 20px;
  box-shadow:3px 6px 8px #FCBA04;
  border-radius:
  cursor: pointer;
}

#resultsTable{

}
