@import url('https://fonts.googleapis.com/css?family=Rubik:700');

h1 {
  font-family: 'Rubik', sans-serif;
  display: inline-block;
  background-color: #FCBA04;
  padding-right: 25px;
  margin-bottom: -5px;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  display: inline-block;
  background-color: #3BB273;
  margin-left: 50px;
  padding-right: 25px;
  margin-bottom: 5px
}

h3 {
  font-family: 'Helvetica', sans-serif;
  display:flex;
  text-align: right;
  font-size: 18px;
  margin-left: 200px;
  justify-content: flex-end;
}

p{
  font-family: 'Helvetica', sans-serif;
}

#instructions{
  margin-bottom: 10px;
  background-color: #3A86FF;
  width: 60%;
  margin-left:90px;
  padding-left: 2px;
  padding: 1px;
}

#image-container {
  display: flex;
  justify-content: center;
}

#image-container img {
  height: 250px;
  margin: 0 20px;
  box-shadow:3px 6px 8px #FCBA04;
  border-radius:
  cursor: pointer;
}

.resultsTable{
  font-family: 'Helvetica', sans-serif;
  border-collapse: collapse;
  padding: 10px;
  table align: center;
  /* width: calc((80%) - 4em); */
  margin:auto;
  table-layout: fixed;
}

.resultsTable:nth-child(even){
  width: 10px;
}

th{
  font-family: 'Rubik', sans-serif;
  font-size: 32px;
  text-align: left;
  padding: 15px;
  background-color: #7292DB;
}

tr:nth-child(even){
  background-color: #95E995;
}

tr:nth-child(odd){
  background-color: #7292DB;
}

#progress-bar{
  height: 20px;
  width: 0;
  background-color: aqua;
  position: absolute;
  z-index: -1;
  top: -1px;
  right: 0;
}

#progress-container{
  position: relative;
}
