h1 {
  display: inline-block;
  background-color: #FCBA04;
  padding-right: 25px;
  margin-bottom: -5px;
}

h2 {
  display: inline-block;
  background-color: #3BB273;
  margin-left: 50px;
  padding-right: 25px;

}

h3 {
  text-align: right;
  margin-right: 100px;
  background-color: #3A86FF;
}

#image-container {
  display: flex;
  justify-content: center;
}

#image-container img {
  height: 250px;
  margin: 0 20px;
  box-shadow:3px 6px 8px #FCBA04;
  border-radius:
  cursor: pointer;
}
